html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

body {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  width: 1440px;
  height: auto;
  color: #ffffff;
  margin: 0;
  margin: 0 auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@media (max-width: 1025px) {
  body {
    max-width: 1024px;
    height: 100%; } }

@media (max-width: 768px) {
  body {
    max-width: 768px;
    height: 100%; } }

@media (max-width: 414px) {
  body {
    max-width: 414px;
    height: 100%; } }

@media (max-width: 375px) {
  body {
    max-width: 375px;
    height: 100%; } }

@media (max-width: 320px) {
  body {
    max-width: 320px;
    height: 100%; } }

.main-header {
  background-color: #111111;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.icon-menu {
  display: none; }

.main-navigation {
  width: 1440px;
  display: flex;
  align-items: center; }

.list-menu {
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 24px;
  margin-right: 76px; }

.logo {
  display: block;
  margin-left: 64px;
  height: 35px;
  margin-right: 104px; }

.item-menu a {
  color: #ffffff; }

.basket {
  margin-right: 88px;
  height: 37px; }

.item-menu {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-right: 40px; }

.item-menu:last-child {
  margin-right: 0; }

@media (max-width: 1025px) {
  .icon-menu {
    display: block; }
  .list-menu {
    display: none; }
  .icon-menu {
    margin-left: 115px; }
  .logo {
    margin-left: 222px; }
  .basket {
    margin-left: 132px; } }

@media (max-width: 768px) {
  .icon-menu {
    display: block; }
  .list-menu {
    display: none; }
  .icon-menu {
    margin-left: 115px; }
  .logo {
    margin-left: 222px; }
  .basket {
    display: none; } }

@media (max-width: 414px) {
  .icon-menu {
    margin-left: 28px; }
  .logo {
    margin-left: 74px; }
  .basket {
    margin-left: 77px; } }

@media (max-width: 375px) {
  .icon-menu {
    margin-left: 28px; }
  .logo {
    margin-left: 74px; }
  .basket {
    margin-left: 77px; } }

.content-top {
  height: 792px;
  background-color: #FCDA28;
  padding-top: 96px;
  position: relative; }

.heading-content-top {
  width: 1008px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 152px;
  margin: 0;
  margin-left: 64px;
  margin-bottom: 24px; }

.img-nootris {
  position: absolute;
  top: 62px;
  right: 160px; }

.img-ginger {
  position: absolute;
  top: 272px;
  right: 64px; }

.img-lemon {
  position: absolute;
  top: 441px;
  right: 243px; }

.text-content-top {
  color: #000000;
  width: 672px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-left: 64px;
  margin-bottom: 120px; }

.features-heading {
  color: #000000;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  margin: 0;
  margin-left: 64px;
  margin-bottom: 16px; }

.features-text {
  width: 416px;
  color: #000000;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-left: 64px; }

@media (max-width: 1025px) {
  .content-top {
    height: 605px; }
  .heading-content-top {
    font-size: 80px;
    line-height: 86px;
    margin-left: 69px; }
  .text-content-top {
    font-size: 22px;
    line-height: 26px;
    margin-left: 69px; }
  .features-heading {
    font-size: 22px;
    line-height: 33px;
    margin-left: 69px; }
  .features-text {
    font-size: 16px;
    line-height: 19px;
    margin-left: 69px; }
  .img-ginger {
    width: 338px;
    height: 270px;
    right: 80px;
    top: 196px; }
  .img-lemon {
    width: 418px;
    height: 363px;
    right: 190px;
    top: 328px; }
  .img-nootris {
    width: 175px;
    height: 498px;
    right: 145px;
    top: 31px; } }

@media (max-width: 768px) {
  .content-top {
    height: 605px; }
  .heading-content-top {
    font-size: 70px;
    width: 900px;
    line-height: 86px;
    margin-left: 29px; }
  .text-content-top {
    font-size: 18px;
    width: 350px;
    line-height: 26px;
    margin-left: 29px;
    margin-bottom: 50px; }
  .features-heading {
    font-size: 22px;
    line-height: 33px;
    margin-left: 29px; }
  .features-text {
    font-size: 14px;
    line-height: 19px;
    margin-left: 29px; }
  .img-ginger {
    width: 338px;
    height: 270px;
    right: 15px;
    top: 196px; }
  .img-lemon {
    width: 418px;
    height: 363px;
    right: 80px;
    top: 328px; }
  .img-nootris {
    width: 175px;
    height: 498px;
    right: 35px;
    top: 31px; } }

@media (max-width: 414px) {
  .content-top {
    height: 378px;
    padding-top: 26px; }
  .heading-content-top {
    font-size: 42px;
    line-height: 50px;
    width: 286px;
    margin-left: 25px; }
  .text-content-top {
    width: 200px;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    margin-left: 25px;
    margin-bottom: 20px; }
  .features-heading {
    font-size: 18px;
    line-height: 21px;
    margin-left: 25px; }
  .features-text {
    width: 163px;
    font-size: 12px;
    line-height: 14px;
    margin-left: 25px; }
  .img-ginger {
    width: 160px;
    height: 123px;
    right: 15px;
    top: 215px; }
  .img-lemon {
    width: 171px;
    height: 139px;
    right: 79px;
    top: 265px; }
  .img-nootris {
    height: 190px;
    width: 71px;
    right: 51px;
    top: 152px; } }

@media (max-width: 375px) {
  .content-top {
    height: 378px;
    padding-top: 26px; }
  .heading-content-top {
    font-size: 42px;
    line-height: 50px;
    width: 286px;
    margin-left: 25px; }
  .text-content-top {
    width: 200px;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    margin-left: 25px;
    margin-bottom: 20px; }
  .features-heading {
    font-size: 18px;
    line-height: 21px;
    margin-left: 25px; }
  .features-text {
    width: 163px;
    font-size: 12px;
    line-height: 14px;
    margin-left: 25px; }
  .img-ginger {
    width: 160px;
    height: 123px;
    right: 15px;
    top: 215px; }
  .img-lemon {
    width: 171px;
    height: 139px;
    right: 79px;
    top: 265px; }
  .img-nootris {
    height: 190px;
    width: 71px;
    right: 51px;
    top: 152px; } }

.content-bottom {
  background-color: #111111;
  padding-top: 110px;
  min-height: 926px; }

.text-discount {
  width: 850px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  margin: 0 auto;
  margin-bottom: 85px;
  text-align: center; }

.text-discount strong {
  color: #FCB500;
  text-align: center; }

.price-block {
  display: flex;
  width: 336px;
  margin: 0 auto;
  margin-bottom: 59px; }

.text-blackout {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 57px;
  color: #ADADAD;
  text-decoration: line-through;
  margin-right: 32px; }

.text-price {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px; }

.block-img-bottom {
  display: flex;
  width: 956px;
  margin: 0 auto;
  margin-bottom: 64px;
  justify-content: space-between; }

.wrapper-about-ginger {
  margin-right: 111px; }

.text-ginger {
  width: 90px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center; }

.text-ginger strong {
  color: #FCB500; }

.wrapper-aboyt-delivery {
  margin-right: 111px; }

.text-delivery {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  margin: 0;
  margin-bottom: 8px; }

.feature-price {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FCB500;
  text-align: center;
  margin: 0; }

.text-vorus {
  width: 192px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  text-align: center; }

.text-vorus strong {
  color: #FCB500; }

.button {
  display: block;
  width: 256px;
  height: 56px;
  background: #FCB500;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0 auto;
  border-radius: 7px; }

.img-ginger-small {
  margin-bottom: 78px; }

.img-nootris-small {
  margin-bottom: 45px; }

.img-vorus {
  margin-bottom: 78px; }

@media (max-width: 1025px) {
  .text-discount {
    width: 626px;
    font-size: 38px;
    line-height: 45px; }
  .text-blackout {
    font-size: 24px;
    line-height: 28px; }
  .text-price {
    font-size: 36px;
    line-height: 43px; }
  .img-ginger-small {
    width: 161px;
    height: 141px;
    margin-bottom: 35px; }
  .img-nootris-small {
    height: 128px;
    width: 385px; }
  .img-vorus {
    width: 176px;
    height: 147px;
    margin-bottom: 35px; }
  .text-ginger {
    font-size: 18px;
    line-height: 21px; }
  .text-delivery {
    font-size: 20px;
    line-height: 24px; }
  .feature-price {
    font-size: 18px;
    line-height: 21px; }
  .text-vorus {
    font-size: 18px;
    line-height: 21px; }
  .button {
    width: 208px;
    height: 46px; }
  .block-img-bottom {
    width: 876px;
    margin: 0 auto;
    margin-bottom: 64px; } }

@media (max-width: 768px) {
  .text-discount {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    width: 330px;
    margin-bottom: 20px; }
  .text-blackout {
    font-size: 22px;
    line-height: 26px;
    margin-right: 10px; }
  .text-price {
    font-size: 28px;
    line-height: 33px; }
  .price-block {
    width: 150px;
    margin-top: 21px;
    margin-bottom: 20px; }
  .block-img-bottom {
    display: block; }
  .img-ginger-small {
    display: block;
    width: 172px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 15px; }
  .img-nootris-small {
    display: block;
    height: 109px;
    width: 329px;
    margin: 0 auto;
    margin-bottom: 15px; }
  .img-vorus {
    display: block;
    width: 146px;
    height: 122px;
    margin: 0 auto;
    margin-bottom: 15px; }
  .block-img-bottom {
    width: 375px; }
  .wrapper-aboyt-delivery {
    margin-right: 0; }
  .wrapper-about-ginger {
    margin-right: 0; }
  .wrapper-about-vorus {
    margin-right: 0; }
  .text-ginger {
    margin: 0 auto;
    margin-bottom: 25px; }
  .text-vorus {
    margin: 0 auto; }
  .feature-price {
    margin-bottom: 25px; } }

@media (max-width: 414px) {
  .text-discount {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    width: 330px;
    margin-bottom: 20px; }
  .text-blackout {
    font-size: 22px;
    line-height: 26px;
    margin-right: 10px; }
  .text-price {
    font-size: 28px;
    line-height: 33px; }
  .price-block {
    width: 150px;
    margin-top: 21px;
    margin-bottom: 20px; }
  .block-img-bottom {
    display: block; }
  .img-ginger-small {
    display: block;
    width: 172px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 15px; }
  .img-nootris-small {
    display: block;
    height: 109px;
    width: 329px;
    margin: 0 auto;
    margin-bottom: 15px; }
  .img-vorus {
    display: block;
    width: 146px;
    height: 122px;
    margin: 0 auto;
    margin-bottom: 15px; }
  .block-img-bottom {
    width: 375px; }
  .wrapper-aboyt-delivery {
    margin-right: 0; }
  .wrapper-about-ginger {
    margin-right: 0; }
  .wrapper-about-vorus {
    margin-right: 0; }
  .text-ginger {
    margin: 0 auto;
    margin-bottom: 25px; }
  .text-vorus {
    margin: 0 auto; }
  .feature-price {
    margin-bottom: 25px; } }

@media (max-width: 375px) {
  .text-discount {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    width: 330px;
    margin-bottom: 20px; }
  .text-blackout {
    font-size: 22px;
    line-height: 26px;
    margin-right: 10px; }
  .text-price {
    font-size: 28px;
    line-height: 33px; }
  .price-block {
    width: 150px;
    margin-top: 21px;
    margin-bottom: 20px; }
  .block-img-bottom {
    display: block; }
  .img-ginger-small {
    display: block;
    width: 172px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 15px; }
  .img-nootris-small {
    display: block;
    height: 109px;
    width: 329px;
    margin: 0 auto;
    margin-bottom: 15px; }
  .img-vorus {
    display: block;
    width: 146px;
    height: 122px;
    margin: 0 auto;
    margin-bottom: 15px; }
  .block-img-bottom {
    width: 375px; }
  .wrapper-aboyt-delivery {
    margin-right: 0; }
  .wrapper-about-ginger {
    margin-right: 0; }
  .wrapper-about-vorus {
    margin-right: 0; }
  .text-ginger {
    margin: 0 auto;
    margin-bottom: 25px; }
  .text-vorus {
    margin: 0 auto; }
  .feature-price {
    margin-bottom: 25px; } }

@media (max-width: 320px) {
  .img-nootris-small {
    width: 300px; }
  .block-img-bottom {
    width: 300px;
    margin: 0 auto; } }
