.content-top{
  height:792px;
  background-color: #FCDA28;
  padding-top: 96px;
  position: relative;
}
.heading-content-top{
  width:1008px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 152px;
  margin: 0;
  margin-left: 64px;
  margin-bottom: 24px;
}

.img-nootris{
  position: absolute;
  top:62px;
  right:160px;
}
.img-ginger{
  position: absolute;
  top:272px;
  right: 64px;
}
.img-lemon{
  position: absolute;
  top:441px;
  right:243px;
}
.text-content-top{
  color: #000000;
  width: 672px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-left: 64px;
  margin-bottom: 120px;
}
.features-heading{
  color: #000000;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  margin: 0;
  margin-left: 64px;
  margin-bottom: 16pxpx;
}
.features-text{
  width: 416px;
  color: #000000;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-left: 64px;
}
