html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
body{
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  width: 1440px;
  height: auto;
  color:#ffffff;
  margin: 0;
  margin: 0 auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (max-width: 1025px) {
  body{
    max-width: 1024px;
    height: 100%;
  }
}
@media (max-width: 768px) {
  body{
    max-width: 768px;
    height: 100%;
  }
}
@media (max-width: 414px) {
  body{
    max-width: 414px;
    height: 100%;
  }
}
@media (max-width: 375px) {
  body{
    max-width: 375px;
    height: 100%;
  }
}
@media (max-width: 320px){
  body{
    max-width: 320px;
    height: 100%;
  }
}

