.main-header{
  background-color: #111111;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon-menu{
  display: none;
}
.main-navigation{
  width: 1440px;
  display: flex;
align-items: center;
}
.list-menu{
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 24px;
  margin-right: 76px;
}
.logo{
  display: block;
  margin-left: 64px;
  height: 35px;
  margin-right: 104px;
}
.item-menu a{
  color:#ffffff;
}
.basket{
  margin-right: 88px;
  height: 37px;
}
.item-menu{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
   margin-right: 40px;
}
.item-menu:last-child{
  margin-right: 0;
}
@media (max-width: 1025px) {
  .icon-menu{
    display: block;
  }
  .list-menu{
    display: none;
  }
  .icon-menu{
    margin-left: 115px;
  }
  .logo{
    margin-left: 222px;
  }
  .basket{
   margin-left: 132px;
  }
}
@media (max-width: 768px) {
  .icon-menu{
    display: block;
  }
  .list-menu{
    display: none;
  }
  .icon-menu{
    margin-left: 115px;
  }
  .logo{
    margin-left: 222px;
  }
  .basket{
   display: none;
  }
}

@media (max-width: 414px) {
  .icon-menu{
    margin-left: 28px;
  }
  .logo{
    margin-left: 74px;
  }
  .basket{
   margin-left: 77px;
  }
}
@media (max-width: 375px) {
  .icon-menu{
    margin-left: 28px;
  }
  .logo{
    margin-left: 74px;
  }
  .basket{
   margin-left: 77px;
  }

}

