.content-top {
  height: 792px;
  background-color: #FCDA28;
  padding-top: 96px;
  position: relative; }

.heading-content-top {
  width: 1008px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 152px;
  margin: 0;
  margin-left: 64px;
  margin-bottom: 24px; }

.img-nootris {
  position: absolute;
  top: 62px;
  right: 160px; }

.img-ginger {
  position: absolute;
  top: 272px;
  right: 64px; }

.img-lemon {
  position: absolute;
  top: 441px;
  right: 243px; }

.text-content-top {
  color: #000000;
  width: 672px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-left: 64px;
  margin-bottom: 120px; }

.features-heading {
  color: #000000;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  margin: 0;
  margin-left: 64px;
  margin-bottom: 16px; }

.features-text {
  width: 416px;
  color: #000000;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-left: 64px; }

@media (max-width: 1025px) {
  .content-top {
    height: 605px; }
  .heading-content-top {
    font-size: 80px;
    line-height: 86px;
    margin-left: 69px; }
  .text-content-top {
    font-size: 22px;
    line-height: 26px;
    margin-left: 69px; }
  .features-heading {
    font-size: 22px;
    line-height: 33px;
    margin-left: 69px; }
  .features-text {
    font-size: 16px;
    line-height: 19px;
    margin-left: 69px; }
  .img-ginger {
    width: 338px;
    height: 270px;
    right: 80px;
    top: 196px; }
  .img-lemon {
    width: 418px;
    height: 363px;
    right: 190px;
    top: 328px; }
  .img-nootris {
    width: 175px;
    height: 498px;
    right: 145px;
    top: 31px; } }

@media (max-width: 768px) {
  .content-top {
    height: 378px;
    padding-top: 26px; }
  .heading-content-top {
    font-size: 42px;
    line-height: 50px;
    width: 286px;
    margin-left: 25px; }
  .text-content-top {
    width: 200px;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    margin-left: 25px;
    margin-bottom: 20px; }
  .features-heading {
    font-size: 18px;
    line-height: 21px;
    margin-left: 25px; }
  .features-text {
    width: 163px;
    font-size: 12px;
    line-height: 14px;
    margin-left: 25px; }
  .img-ginger {
    width: 160px;
    height: 123px;
    right: 15px;
    top: 215px; }
  .img-lemon {
    width: 171px;
    height: 139px;
    right: 79px;
    top: 265px; }
  .img-nootris {
    height: 190px;
    width: 71px;
    right: 51px;
    top: 152px; } }

@media (max-width: 414px) {
  .content-top {
    height: 378px;
    padding-top: 26px; }
  .heading-content-top {
    font-size: 42px;
    line-height: 50px;
    width: 286px;
    margin-left: 25px; }
  .text-content-top {
    width: 200px;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    margin-left: 25px;
    margin-bottom: 20px; }
  .features-heading {
    font-size: 18px;
    line-height: 21px;
    margin-left: 25px; }
  .features-text {
    width: 163px;
    font-size: 12px;
    line-height: 14px;
    margin-left: 25px; }
  .img-ginger {
    width: 160px;
    height: 123px;
    right: 15px;
    top: 215px; }
  .img-lemon {
    width: 171px;
    height: 139px;
    right: 79px;
    top: 265px; }
  .img-nootris {
    height: 190px;
    width: 71px;
    right: 51px;
    top: 152px; } }

@media (max-width: 375px) {
  .content-top {
    height: 378px;
    padding-top: 26px; }
  .heading-content-top {
    font-size: 42px;
    line-height: 50px;
    width: 286px;
    margin-left: 25px; }
  .text-content-top {
    width: 200px;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    margin-left: 25px;
    margin-bottom: 20px; }
  .features-heading {
    font-size: 18px;
    line-height: 21px;
    margin-left: 25px; }
  .features-text {
    width: 163px;
    font-size: 12px;
    line-height: 14px;
    margin-left: 25px; }
  .img-ginger {
    width: 160px;
    height: 123px;
    right: 15px;
    top: 215px; }
  .img-lemon {
    width: 171px;
    height: 139px;
    right: 79px;
    top: 265px; }
  .img-nootris {
    height: 190px;
    width: 71px;
    right: 51px;
    top: 152px; } }
